* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0 2rem 0;
    padding: 1rem;
}

form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form button{
    margin-top: 2rem;
    padding: 20px;
    font-size: 20px;
    background-color: lightblue;
}

form button:hover{
    background-color: rgb(199, 144, 223);
}

.dropdown{
    display: flex;
}

.dropdown i{
    padding-right: 30px;
}